*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(imagens/unicesumar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}
.cabeçalho {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  justify-content: start;
  padding: 0px 20px;
  margin-bottom: 6cm;
  align-items: center;
  width: 100%;
  color: white;
}

.nome {
  backdrop-filter: blur(5px);
  margin: 20px 0 20px 0;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 5px 2px 50px;
  font-weight: 500;
}

.navegação {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5cm;
}
.item_navegacao:hover {
  background-color: hsl(190, 75%, 36%);
  -webkit-transition: 0.5s;
  color: black;
  box-shadow: 5px 2px 50px hsla(240, 100%, 50%, 0.712);
}

.item_navegacao {
  margin: 3px;
  border-radius: 0.75cm;
  border: 2px none gray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 2cm;
  width: 100%;
  block-size: 2cm;
  text-decoration: none;
  color: bisque;
}

.meio {
  scroll-margin-top: 160px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 3cm;
}

main {
  flex: 3;
  min-height: 300px;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}
#quadradoFoto {
  box-shadow: 0 0 50px rgb(86, 2, 97);
  display: flex;
  border: 10px solid rgb(86, 2, 97);
  justify-content: center;
  align-items: center;
  padding: 100px;
  z-index: 0;
  position: relative;
  transform: translate(50%) skew(50deg, 180deg);
}
#Foto {
  border-radius: 50px;
  display: flex;
  width: 300px;
  height: 450px;
  z-index: 100;
  position: relative;
  transform: translate(-50%);
}

.apresentação {
  width: fit-content;
  opacity: 75%;
  margin-left: 0.5cm;
  backdrop-filter: blur(5px);
  background-color: transparent;
  box-shadow: 0 0 20px;
  color: rgba(255, 255, 255, 0.89);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 1cm;
  border: none;
}
.apresentação:hover {
  -webkit-transition: 0.5s;
  backdrop-filter: blur(100px);
  opacity: 100%;
  text-shadow: 5px 5px 9px rgba(255, 255, 255, 0.527);
  text-shadow: white;
}
.meio2 {
  padding: 0.2cm;
  margin: 0.5cm;
}
.texto {
  color: rgb(184, 183, 183);
}
.sobre {
  margin-bottom: 2cm;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
}

.container {
  scroll-margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3cm;
  width: 100%;
  border: none;
}
.topico {
  margin: 5px;
  width: fit-content;
  opacity: 75%;
  display: block;
  padding: 0 1.5cm;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(300px);
  background-color: transparent;
  box-shadow: 1cm 1cm 100px hsla(240, 100%, 50%, 0.712);
  border: none;
  border-radius: 0.5cm;
  block-size: 6cm;
}
.topico:hover {
  -webkit-transition: 0.5s;
  background-color: rgba(5, 5, 44, 0.815);
  opacity: 100%;
  text-shadow: 5px 5px 6px rgba(255, 255, 255, 0.527);
}
.titulo {
  color: rgba(255, 255, 255, 0.89);
  margin: 0.5cm;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lista_topico {
  color: rgb(184, 183, 183);
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.link_topico {
  color: rgb(184, 183, 183);
  text-decoration: none;
  text-decoration-line: none;
}
.formacao::before {
  margin-right: 5px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(thumbnails/graduação.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.hobby::before {
  margin-right: 5px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(thumbnails/academia.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.projeto::before {
  margin-right: 5px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(thumbnails/projetos.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.rodape {
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
}
.direitos {
  padding: 20px 7px;
}
.lista {
  padding: 0.25cm;
}

.links {
  list-style: none;
  padding: 0;
}
.links li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.github::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(thumbnails/github.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.linkedin::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(thumbnails/linkedin.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.email::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(thumbnails/email.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.instagram::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(thumbnails/instagram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
